.about-me-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 100vh; /* Asegura que comience después del componente Home */
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.about-me-content h1,
.about-me-content h2 {
    margin: 10px 0;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.info-section {
    width: 45%;
    text-align: left;
}

.info-section h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    margin: 5px 0;
}
